#########################################################################
# JxfsServer for J/XFS                                                  #
#                                                                       #
# Needs to be configured for the J/XFS server.                          #
#                                                                       #
#                                                                       #
#                                                                       #
#                                                                       #
#                                                                       #
# 2000-03-08  KN - change documentation                                 #
# 1999-12-21  MF - new format for new reading mechanism and             #
#                  key "application_key in config_key changed           #
# 1999-12-01  KN - add log_file_name                                    #
# 1999-11-26  KN - create this file                                     #
#########################################################################

#MISC
  # workstation name, it doesn't need to be the TCP/IP host name
  workstation_name = developerWorks

  # the configuration key
  config_key = jxfsServer 

  # logfile used for logging during the start of the server  
   log_file_name = logs/server.log     

#SDM  
  # name of the communication layer for the device manager (sdm)
  # always: com.jxfs.forum.communication.local.SpecificDeviceManagerSERVER 
  sdm_name = com.jxfs.forum.communication.local.SpecificDeviceManagerSERVER

  # count of additional parms of sdm
  # always  count=2
  sdm_addparmcount = 2

  # first parameter of sdm
  # always: the port number of the J/XFS server(2006)
  sdm_addparm_1 = 2323

  # second parameter of sdm  
  # always:  path for Read.repository(repository\)
  # (use \\ as separator sign for Windows file names)
  sdm_addparm_2 = repository\

 # the maximum file size in KBytes of a single log file for the server log; set to zero if you want do disable wrap around logging
  wrap_around_file_size=0

 # the maximum file number of log files for the server log; set to zero if you want do disable wrap around logging
  wrap_around_file_number=0